  <model>
    <name>ubiquitous_display</name>
    <version>1.0</version>
    <sdf>robots/ubiquitous_display.urdf</sdf>
    <author>
      <name>MickeyKen</name>
      <email>miki.aislab@gmail.com</email>
    </author>
    <description>
      A description of ubiquitous_display
    </description>
  </model>
