<?xml version="1.0"?>
<!-- This is a hand-made URDF XACRO file for the Microsoft Kinect-2 sensor (Xbox ONE) -->
<!-- Copyright Universitaet Bremen - Instititute for Artificial Intelligence. Author: Alexis Maldonado -->
<!-- License: GPLv3+ -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kinect2">

  <xacro:macro name="kinect2_model" params="parent">

    <link name="kinect2_plate_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.25 0.015 0.01" />
        </geometry>
        <material name="gray"/>
      </visual>
    </link>

    <joint name="${parent}_to_kinect2_plate_link" type="fixed">
      <origin xyz="-0.075 0.11 0.135" rpy="0 0 0" />
      <parent link="${parent}" />
      <child link="kinect2_plate_link" />
    </joint>

    <link name="kinect2_rgb_optical_frame">
      <collision>
        <origin rpy="-1.56 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.25 0.065 0.068"/>
        </geometry>
      </collision>

      <visual>
        <origin rpy="-1.56 0 0" xyz="0 0 0"/>
        <geometry>
            <!-- these meshes were exported in mm, so scale back to m -->
          <mesh filename="package://ubiquitous_display_description/meshes/STL/kinect2_origin_on_rgb_optical_frame.stl" scale="0.001 0.001 0.001"/>
          <!--box size="0.25 0.07 0.6" /-->
        </geometry>
        <material name="black"/>
      </visual>

      <inertial>
        <mass value="0.2" />
        <origin rpy="-1.56 0 0" xyz="0 0 0"/>
        <inertia
          ixx="0.00147" ixy="0" ixz="0"
          iyy="0.01112" iyz="0"
          izz="0.01118" />
      </inertial>
    </link>

    <link name="kinect2_ir_optical_frame">

    </link>


    <joint name="kinect2_plate_to_kinect2_rgb_optical_frame" type="fixed">
      <origin xyz="0.095 0 0.035 " rpy="-1.56 0 0" />
      <parent link="kinect2_plate_link"/>
      <child link="kinect2_rgb_optical_frame"/>
    </joint>

    <joint name="kinect2_rgb_optical_frame_to_kinect2_ir_optical_frame" type="fixed">
      <origin xyz="-0.0425 0 0 " rpy="0 0 0" />
      <parent link="kinect2_rgb_optical_frame"/>
      <child link="kinect2_ir_optical_frame"/>
    </joint>

  </xacro:macro>

</robot>
