<?xml version="1.0"?>
<!-- This is a hand-made URDF XACRO file for the Microsoft Kinect-2 sensor (Xbox ONE) -->
<!-- Copyright Universitaet Bremen - Instititute for Artificial Intelligence. Author: Alexis Maldonado -->
<!-- License: GPLv3+ -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kinect2">
  <xacro:include filename="$(find ubiquitous_display_description)/urdf/sensor/kinect/kinect2.gazebo.xacro"/>

  <xacro:macro name="kinect2_for_gazebo_model" params="name rgb_parent depth_parent">

    <link name="kinect2_ir_optical_frame">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <sphere radius="0.0005"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>


    <joint name="kinect2_plate_to_kinect2_rgb_optical_frame" type="fixed">
      <origin xyz="0.095 0 0.035 " rpy="-1.56 0 0" />
      <parent link="kinect2_plate_link"/>
      <child link="kinect2_rgb_optical_frame"/>
    </joint>

    <joint name="kinect2_rgb_optical_frame_to_kinect2_ir_optical_frame" type="fixed">
      <origin xyz="-0.0425 0 0 " rpy="0 0 0" />
      <parent link="kinect2_rgb_optical_frame"/>
      <child link="kinect2_ir_optical_frame"/>
    </joint>
    <!--<xacro:camera_gazebo link_name="kinect2_rgb" frame_name="kinect2_rgb_optical_frame"/>-->
    <xacro:kinect_ir_sensor_gazebo link_name="kinect2_ir" frame_name="kinect2_ir_optical_frame" camera_name="kinect2" />
    <xacro:kinect_rgb_sensor_gazebo link_name="kinect2_rgb" frame_name="kinect2_rgb_optical_frame" camera_name="kinect2" />
  </xacro:macro>

</robot>
