<?xml version="1.0"?>
<!-- This is a hand-made URDF XACRO file for the Microsoft Kinect-2 sensor (Xbox ONE) -->
<!-- Copyright Universitaet Bremen - Instititute for Artificial Intelligence. Author: Alexis Maldonado -->
<!-- License: GPLv3+ -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kinect2_for_gazebo">
  <xacro:include filename="$(find ubiquitous_display_description)/urdf/sensor/kinect/kinect2.gazebo.xacro"/>

  <xacro:macro name="kinect2_for_gazebo_model" params="name rgb_parent depth_parent">

    <link name="${name}_rgb_optical_frame">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <sphere radius="0.0005"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>

    <link name="${name}_ir_optical_frame">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <sphere radius="0.0005"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>


    <joint name="kinect2_rgb_optical_frame_to_${name}_rgb_optical_frame" type="fixed">
      <origin xyz="0 0 0.05 " rpy="1.57 -1.57 -1.57" />
      <parent link="${rgb_parent}"/>
      <child link="${name}_rgb_optical_frame"/>
    </joint>

    <joint name="kinect2_ir_optical_frame_to_${name}_ir_optical_frame" type="fixed">
      <origin xyz="0 0 0.05 " rpy="-1.57 -1.57 -1.57" />
      <parent link="${depth_parent}"/>
      <child link="${name}_ir_optical_frame"/>
    </joint>
    <!--<xacro:camera_gazebo link_name="kinect2_rgb" frame_name="kinect2_rgb_optical_frame"/>-->
    <xacro:kinect_ir_sensor_gazebo link_name="${name}_ir" frame_name="${name}_ir_optical_frame" camera_name="${name}_ir" />
    <xacro:kinect_rgb_sensor_gazebo link_name="${name}_rgb" frame_name="${name}_rgb_optical_frame" camera_name="${name}_rgb" />
  </xacro:macro>

</robot>
