<?xml version="1.0"?>

<robot name="pantilt_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="pantilt_gazebo" params="name">  

  <gazebo reference="${name}box_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="${name}plate_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="${name}projector_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

</xacro:macro>

  <xacro:pantilt_gazebo name="ud_pt_"/>

</robot>
