<?xml version="1.0"?>

<robot name="ubiquitous_display" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ubiquitous_display_description)/urdf/body/body.urdf.xacro"/>
  <xacro:include filename="$(find ubiquitous_display_description)/urdf/pantilt/pantilt.urdf.xacro"/>
  <xacro:include filename="$(find ubiquitous_display_description)/urdf/sensor/kinect/kinect2.urdf.xacro"/>
  <xacro:include filename="$(find ubiquitous_display_description)/urdf/youbot/youbot_base_only.urdf.xacro"/>
  <xacro:include filename="$(find ubiquitous_display_description)/urdf/sensor/lrf/hokuyo_utm30lx.urdf.xacro"/>

  <joint name="ud_base_link_to_bottom_pillars_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="ud_base_link"/>
    <child link="bottom_pillars_link"/>
  </joint>
  <!-- joint for body and pantilt-->
  <joint name="top_plate_link_to_ud_pt_base_link" type="fixed">
    <origin xyz="0 0 0.0325 " rpy="0 0 0" />
    <parent link="top_plate_link"/>
    <child link="ud_pt_base_link"/>
  </joint>

  <link name="kinect2_plate_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.25 0.015 0.01" />
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="ud_pt_projector_link_to_kinect2_plate_link" type="fixed">
    <origin xyz="0.075 -0.11 0.135" rpy="0 0 3.14" />
    <parent link="ud_pt_projector_link" />
    <child link="kinect2_plate_link" />
  </joint>

  <link name="kinect2_rgb_optical_frame">
    <visual>
      <origin rpy="-1.56 0 0" xyz="0 0 0"/>
      <geometry>
          <!-- these meshes were exported in mm, so scale back to m -->
        <mesh filename="package://ubiquitous_display_description/meshes/STL/kinect2_origin_on_rgb_optical_frame.stl" scale="0.001 0.001 0.001"/>
        <!--box size="0.25 0.07 0.45" /-->
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <link name="kinect2_ir_optical_frame">
    <visual>
      <origin rpy="0.075 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.0005"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="kinect2_plate_to_kinect2_rgb_optical_frame" type="fixed">
    <origin xyz="0.095 0 0.035 " rpy="0 0 0" />
    <parent link="kinect2_plate_link"/>
    <child link="kinect2_rgb_optical_frame"/>
  </joint>
  <joint name="kinect2_rgb_optical_frame_to_kinect2_ir_optical_frame" type="fixed">
    <origin xyz="-0.0425 0 0 " rpy="0 0 0" />
    <parent link="kinect2_rgb_optical_frame"/>
    <child link="kinect2_ir_optical_frame"/>
  </joint>

  <xacro:hokuyo_utm30lx_model name="front_laser" parent="front_laser_adjuster_link" />
  <xacro:hokuyo_utm30lx_model name="rear_laser" parent="rear_laser_adjuster_link" />


  <!--xacro:kinect2_xacro prefix="ud" parent="kinect2_plate_link"/-->



</robot>
