<launch>
  <arg name="gui" default="false" />
  <arg name="pantilt" default="false"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ubiquitous_display_description)/rviz/show_ubiquitous_display.rviz" required="true"/>

  <group unless="$(arg pantilt)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  </group>

  <param name="robot_description" command="$(find xacro)/xacro '$(find ubiquitous_display_description)/urdf/ubiquitous_display.urdf.xacro'"/>
</launch>
