<launch>
  <arg name="gui" default="false" />
  <arg name="pt" default="false"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ubiquitous_display_description)/rviz/show_ubiquitous_display.rviz" required="true"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>


  <rosparam param="source_list">["pantilt_joint_states","ud_base_joint_states"]</rosparam>


  <param name="robot_description" command="$(find xacro)/xacro '$(find ubiquitous_display_description)/robots/ubiquitous_display.urdf.xacro'"/>
</launch>
